﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Layout.master" AutoEventWireup="true" CodeBehind="FirstPage.aspx.cs" Inherits="WebFormsBasics.FirstPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphLayout" runat="server">
    <h1>Hello from First page!</h1>
</asp:Content>
