﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Layout.master" AutoEventWireup="true" CodeBehind="SecondPage.aspx.cs" Inherits="WebFormsBasics.SecondPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphLayout" runat="server">
    <h1>Hello from Second page!</h1>
</asp:Content>
